
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



<div class="flex1">
  <!-- <div class="helpimage"></div> -->
  <p class="title">A solution to monitor machinery & advice maintenance strategy</p>
  <p class="title-subhead">
    Ensuring is the only way to trust the process, and indeed, we monitor and monetize the success of your plants to achieve optimal growth and sustainability.
  </p>
  <div class="leftpane">
    <div class="leftguide">
      <p class="predtitle">Prediction Guide</p>
      <div class="leftpaneline"></div>
      <p class="leftpanecontent">
        Real time machine sensor data is analyzed by means of machine learning to predict when equipment needs servicing or maintenance.
      </p>
    </div>
    <div class="leftpanetickbox">
      <div class="tickmark1">
       <div class="helpimagetick"></div>
       <p>Reduced downtime</p>                          
      </div>
      <div class="tickmark2">
       <div class="helpimagetick"></div>
       <p>Reduced production delays</p>
      </div>
      <div class="tickmark3">
        <div class="helpimagetick"></div>
        <p>Improved safety</p>
      </div>
    </div>
  </div>

  <div class="rightpane">
    <div class="rightguide">
      <p class="configtitle">Configuration Guide</p>
      <div class="rightpaneline"></div>
      <p class="rightpanecontent">
        Open to an expert to setup thresholds of sensor parameters. Aids in enhanced monitoring of a machine
      </p>
    </div>
    <div class="rightpanetickbox">
      <div class="tickmark1">
       <div class="helpimagetick"></div>
       <p>Administrator-defined</p>                    
      </div>
      <div class="tickmark2">
       <div class="helpimagetick"></div>
       <p>Live monitoring</p>
      </div>
      <div class="tickmark3">
        <div class="helpimagetick"></div>
        <p>Prioritize Downtime</p>
      </div> 
    </div>
  </div>
</div>
<!-- <div class="flex2">
    <div class="helpimage"></div>
    
</div> -->